<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign-up page</h1>
    <form method = "POST">  
        <table>  
            <tr>
                <td>Email</td>
                <td><input type = 'email' name = 'email'></td>
            </tr>  
            <tr>
                <td>Password</td>
                <td><input type = 'password' name = 'passwd'></td>
            </tr>  
            <tr>
                <td>Name</td>
                <td><input type = 'text' name = 'name'></td>
            </tr>  
            <tr>
                <td>Nickname</td>
                <td><input type = 'text' name = 'nickname'></td>
            </tr>  
            
            <tr>
                <td><input type = "submit" value = "Submit"></td>
            </tr>  
        </table>  
    </form>  
</body>
</html>